.about {
    padding: 10px;
    max-width: 1000px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  
    h1 {
      font-size: 35px;
      color: #333;
      margin-bottom: 15px;
    }
  
    p {
      font-size: 18px;
      color: #555;
      line-height: 1.7;
      margin-bottom: 15px;
    }
    iframe{
      border: none;
      border-radius: 10px;
    }
  }
  