.detay{
    width: 80%;
    margin: 40px auto;
    text-align: center;
    img{
      width: 500px;
      height: 300px;
      object-fit: cover;
      border-radius: 50% 50% 54% 46% / 76% 75% 25% 24%;      
      
    }
    h3{
      text-transform: uppercase;
      font-size: 20px;
    }
    p{
      text-align: justify;
      line-height: 25px;
    }
}