.card {
    position: relative;
    background-color: #FFD18E;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 290px;
    height: auto;
    padding: 24px;
    transition: transform 0.2s;
    color: white;
    display: flex;
    flex-direction: column; 
    img{
        width: 100%;
        border-radius: 8px;
    }
    &-body{
        padding: 2px;
        h4{
            text-align: center;
            font-size: 18px;
            letter-spacing: 2px;
        }
    }

    .delete, .edit {
        position: absolute;
        bottom: 4px;
        width: 80px;
        height: 30px;
        border: none;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.3s, width 0.3s, color 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .delete {
        left: 60px;
        border-radius: 10px;
        background-color: rgba(255, 0, 0, 0.7);
    }

    .edit {
        right: 60px;
        border-radius: 10px;
        background-color: rgba(24, 233, 10, 0.7);
    }

    &:hover {
        .delete, .edit {
            opacity: 1;
            width: 80px;
            color: white;
            font-size: 14px;
            font-weight: bold;
        }
    }
}
.card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}