.login-page{
    background: linear-gradient(rgba(0, 0, 0, 0.216),black),url("https://cdn.pixabay.com/photo/2016/09/08/22/43/books-1655783_1280.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    .head{
        position: absolute;
        color: white;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    form{
        background-color: #d9d9d994;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
#root,html,body{
    height: 100%;
}