nav{
    background-color: #FF7EE2;
    color:white;
    display: flex;
    justify-content:space-between;
    padding: 15px 25px;

    .brand{
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        cursor:default;
        img{
            width:90px;
        }
    }
    .liste{
        list-style: none;
        display: flex;
        align-items: center;
        gap:25px;
        li{
            transition: .5s;
            cursor: pointer;
            &:hover{
                color:#E9FF97;
                text-decoration: underline;
                transform: scale(1.2);
            }
        }
    }
}
